body {
    margin: 1%;
    margin-left: 35%;
    margin-right: 35%; 
  
    font-family: 'Architects Daughter', cursive;

}

.contenedor{
    color: whitesmoke;
    background-color: rgb(132, 131, 133);
    text-align: center;
    border: 1px solid black;
}
h1 {
    text-align: center;
}
.l{
    margin-top: 10px;
    padding-left: 2px;
}
.inputs {
    margin: 2.5px;
    background-color: yellowgreen;
}

.operadores {
    background-color: rgb(80, 82, 82);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 17%;
   padding-top: 3px;
   padding-bottom: 5px;
}

.btn-num{
    background-color: rgb(80, 82, 82);
    color: whitesmoke;
    width: 50px;
    margin: 1.5px;
}

.clear {
    background-color: rgb(93, 38, 100);
    color: whitesmoke;
    width: 50px;
    margin: 1.5px;
}
.enter {
    background-color: rgb(93, 38, 100);
    color: whitesmoke;
    width: 50px;
    margin: 1.5px;
}
.calculate {
    background-color: rgb(153, 15, 21);
    color: whitesmoke;
    width: 170px;
    margin: 2px;
    margin-bottom: 12px;
}
.reference{
    border: rgb(5, 92, 5) solid 2px;
}

#valor1:focus{
    border: rgb(5, 92, 5) solid 2px;
}
#valor2:focus{
    border: rgb(5, 92, 5) solid 2px;
}